body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
}

div {
    display: inline-block;
    height: 200px;
    width: 200px;
    padding: 10px
}

.laag-1 {
    background-color: rgb(255, 165, 0);
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    z-index: 3;

}

.laag-2{
    background-color: rgb(49, 182, 197);
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    z-index: 2;
}

.laag-3 {
    background-color: rgb(59, 67, 83);
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    z-index: 1;
}

/* html {
  color: #ffffff;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.laag-1 {
  position: absolute;
  height: 200px;
  width: 200px;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  background-color: #ffb703;
  padding: 10px;
  z-index: 300;
}

.laag-2 {
  position: absolute;
  height: 200px;
  width: 200px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  background-color: #219ebc;
  padding: 10px;
  z-index: 200;
}

.laag-3 {
  position: absolute;
  height: 200px;
  width: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  background-color: #023047;
  color: #ffffff;
  padding: 10px;
  z-index: 100;
} */